@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    font-size: clamp(1rem, 1vw, 2rem);
    height: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

.overlay {
    position: relative;
    height: 100%;
    background-image: linear-gradient(rgba(28, 37, 53, 0.85), rgba(28, 37, 53, 0.85)), url('./assets/images/backgroundImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
}