.nutrition-info-container {
    width: 80%;
    height: 9rem;
    margin: 1.62rem auto 0.8rem auto;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.30);
}

.nutrition-info-top {
    height: 2.75rem;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #D4672A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.88rem;
}

.calorie-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.56rem;
}

.calorie {
    color: #FFF;
    font-weight: 600;
    font-size: 0.875rem;
}

.calorie-title {
    color: #EFCCB9;
    font-size: 0.75rem;
    font-weight: 400;
    color: #EFCCB9;
}

.nutrition-info-bottom {
    height: 6.25rem;
    border-radius: 0rem 0rem 0.625rem 0.625rem;
    background: #303845;
}

.nutrition-info-ring-container{
    height: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.45rem;
}

.nutrition-info-ring {
    position: relative;
    height: 2.688rem;
    width: 2.688rem;
    background-color: #AFF9B2;
    border-radius: 50%;
    background: conic-gradient(#AFF9B2 60deg, #525B69 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nutrition-info-ring::before {
    content: '';
    position: absolute;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    background-color: #303845;
}

.percentage-value {
    position: relative;
    color: #CBD2DF;
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: -0.01875rem;
}

.nutrition-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.info-title {
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 600;
}

.info-value {
    color: #AEB7C7;
    font-size: 0.625rem;
    font-weight: 400;
}